/* Import the rabar font */
@font-face {
  font-family: "rabar";
  src: url("./assets/Rabar_021.ttf") format("woff");
  font-weight: regular;
}

@tailwind base;

html {
  scroll-behavior: smooth;
}
body,
html[lang="ku"] {
  font-family: "rabar", sans-serif;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    html {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
/* fix arrow in select not going to left side while dir is rtl */
@layer base {
  :where([dir="rtl"]) select {
    background-position: left theme("spacing.2") center;
    padding-left: theme("spacing.10");
    padding-right: theme("spacing.3");
  }
}
