/* Import the rabar font */
@font-face {
  font-family: "rabar";
  src: url("./assets/Rabar_021.ttf") format("woff");
  font-weight: regular;
}

@tailwind base;

html {
  scroll-behavior: smooth;
}
body,
html[lang="ku"] {
  font-family: "rabar", sans-serif;
}

@tailwind components;
@tailwind utilities;
